[user]
    name = aeroastro
    email = aeroastro@users.noreply.github.com
[push]
    default = simple
[alias]
    pr-to = "! f() { hub compare $1...$(git rev-parse --abbrev-ref HEAD); }; f"

#driver for merging Xcode project files
[mergetool "mergepbx"]
    cmd = mergepbx "$BASE" "$LOCAL" "$REMOTE" -o "$MERGED"
